<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.quickguide" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/word"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Cover"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label="Home" >
            <intent-filter>
                <action android:name="com.example.dell.HOME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Book"
            android:label="@string/title_activity_book" >
        </activity>
        <activity
            android:name=".section"
            android:label="Search For Words" >
        </activity>
        <activity
            android:name=".bookList"
            android:label="Words" >
        </activity>
        <activity
            android:name=".WordList"
            android:label="@string/title_activity_word_list" >
        </activity>
        <activity
            android:name=".definition"
            android:label="Quick Definition" >
        </activity>
        <activity
            android:name=".pronunList"
            android:label="Language List" >
        </activity>
        <activity
            android:name=".sectionPro"
            android:label="Search For Word" >
        </activity>
        <activity
            android:name=".pronounciation"
            android:label="Pronunciation" >
        </activity>
    </application>

</manifest>
